*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}

.options-cont{
    height: 4rem;
    width: 3.5rem;
    background-color: #f1f2f6;
    position: absolute;
    top: 2rem;
    left: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

img{
    display: block;
    width: 5rem;
    height: 5rem;
    margin: auto;
    margin-bottom: 2px;
}

.tools-cont{
    display: flex;
    flex-direction: column;
    width: 7rem;
    background-color: #ced6e0;
    position: absolute;
    margin-top: 6.5rem;
    margin-left: 1rem;
    border-radius: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    justify-content: space-around;
    border: 2px solid black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.pencil-tool-cont{
    position: absolute;
    top: 8rem;
    left: 8rem;
    background-color: #ced6e0;
    border: 2px solid black;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 2px;
}
.pencil-color-cont{
    display: flex;
    justify-content: space-around;
}
.black{
    background-color: black;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}
.red{
    background-color: red;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.blue{
    background-color: blue;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.eraser-tool-cont{
    position: absolute;
    background-color: #ced6e0;
    top: 14.5rem;
    left: 8rem;
    height: 2rem;
    padding-top: 2px;
    border: 2px solid black;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
